<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Laswarm</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="/">LASWARM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul style="margin-left:80%;display:inline;">
                <li style="display:inline;font-size:30px;" ><a href='/api/zim/search_en'>EN</a></li>
                <li style="display:inline;font-size:30px;"><a href="/api/zim/search/_vi_">VI</a></li>
                <li style="display:inline;font-size:30px;"><a href="/api/zim/search/_fr_">FR</a></li>
            </ul>
        </nav>

        
        {% endblock %}

        {% block content %}
        <center>
        <div style="justify-content:center;"><h3>FILE LIST</h3></div>
        
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">SIZE</th>
                        <th scope="col">STATUS</th>
                        <th scope="col"></th>
                    </tr>
                    {% for file in zim_files %}
                <tr> 
                    <td >{{file.id}}</td>
                    <td style="width:50%;">{{file.name}}</td>
                    <td style="width:25%;">{{file.size}} Bytes</td>
                    <td style="width:25%;">{{file.status}}</td>
                    <td><a href="/download/{{file.id}}"><button type="button" class="btn btn-primary">Download</button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        

        </center>
        {% endblock %}
    </body>
</html>